    @charset "UTF-8";
    
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header {
        background-color: rgb(85, 88, 88);
        position: relative;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    .menu {
        background: black;
        color: white;
        border-radius: 30%;
        height: 60px;
        width: 60px;
        text-align: center;    
    }
    .hamburguer {
        position:relative;
        background: white;
        display: block;
        height: 2px;
        width: 30px;
        top: 30px;
        left: 14px;
    }

    .hamburguer:before,
    .hamburguer:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .hamburguer:before {
        top: -8px;
    }

    .hamburguer:after {
        bottom: -8px;
    }

    body {
        display: block;
        background-image: linear-gradient(to bottom, white, rgb(131, 130, 130), rgb(122, 121, 121), rgb(100, 100, 100),
         rgb(75, 74, 74), rgb(22, 22, 22));
         background-attachment: fixed;
    }